@use "variables";
@use "mixins";

* {
    margin:0;
    padding:0;
}

body {
    font-family:variables.$font-stack;
}

.grid_container {

    header {

        background-color:variables.$primary-color;
        
    }

    main {
        background-color:variables.$primary-color;
    }
}

a {
    color:#fff8f0;
}

a:hover {
    text-decoration: dashed;
    color: red;
}
