@use "variables";
@use "mixins";

body {
    overflow-x:hidden;
    .grid_container {
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:auto;
        grid-template-areas:"header header header header"
                            "main   main   main main"
                            "section section section section"
                            "footer footer footer footer";
    }
    background-color:variables.$background-color;

    header {
        grid-area:header;
        @include mixins.flex-center;
        @include mixins.padd-marg;
        gap:5rem;
        width:100%;
        min-width:660px;

        form {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius:30px;

            input {
                flex: 1;
                border: 0;
                outline: 0;
                background-color: transparent;
            }

            button {
                background-color: transparent;
                border: 0;
                border-radius:50%;
            }
        }

        .header__nav {

            ul {
                display:flex;
                list-style:none;
                gap:1.5rem;
                }
            }
        }
    }

    main {
        grid-area:main;
        @include mixins.flex-center;
        gap:1.5rem;
        justify-content: center;
        margin:3rem;
        width: fit-content;
        margin: 0 auto;
        margin-top:1rem;
        margin-bottom:1rem;
        padding:1rem;

        .main__article {
            @include mixins.padd-marg;

            h2 {
                margin-bottom:0.5rem;
            }

            ul {

                li {
                    margin-bottom: 0.5rem;
                }
            }
        }

        ul {
            list-style: none;
        }
    }

    section {
        grid-area:section;
        width:50%;
        margin:0 auto;

        iframe {
            width:100%;
        }
    }

    footer {
        grid-area:footer;
    }



